{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block"> {% trans %}errorpage.title{% endtrans %}</span>
                    <div class="mb-4 lead">{% trans %}errorpage.message{% endtrans %}</div>
                    <a href="{{ path('home') }}" class="btn btn-primary btn-lg">{% trans %}errorpage.gohome{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
